#block-views-block-vista-publicaciones-completa-block-1 {
  @include viewFormat();
  text-align: center;
  h2 {
    margin-top: 2%;
  }
  img {
    border-radius: 10px;
  }

  h3,
  h4 {
    color: $title-text-color;
  }
  h3 {
    font-size: 2em;
    border-bottom: 2px solid $color-principal;
    display: inline-block;
    padding-bottom: 1%;
  }

  @include viewPagination();
}

.cuerpoPublicacionCompleta {
  margin-top: 2%;
  padding: 2%;
  text-align: justify;
}

.publicacionCompletaContainer {
  margin-top: 3%;
  margin-bottom: 3%;
}

.imgAreas {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.contenidoAreas {
  height: 100%;
  h2 {
    padding-top: 20px;
    justify-content: center;
    color: #3e3e3e;
    display: flex;
    font-size: 25px;
  }
  img {
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  p {
    text-align: justify;
    font-size: 15px;
    color: #3e3e3e;
    padding: 0px 20px 20px 20px;
  }
}

.containerMargin {
  background-color: lightgray;
}
.containerMarginCom {
  background-color: white;
}
.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class^="col-"],
  & > [class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
.tituloMayorAcademico{
  text-align: center;
  padding: 20px 0px
}