<div class="background_hero_integrantes" style="background-image:url('{{ content.field_img_hero_integrantes.0 }}')">
	<div class="texto_hero" id="textHero">
    <h1>{{ content.field_titulo_hero_integrantes.0 }}</h1>
    <div>
</div>