<div class="background_hero" style="background-image:url('{{ content.field_background_image.0 }}')">
    <div class="hero_overlay">
        <div class="texto_hero" id="textHero">
            <h1>{{ content.field_hero_title.0 }}</h1>
            <h2>{{ content.field_hero_subtitle.0 }}</h2>
        <div>
    </div>
</div>