<div class="container contenedorValores">
<div class="row align-items-center">
<div class="col-lg-2 contenedorImgValores">
<img src="{{ content.field_valor_icono.0 }}" class="imgValor"S align="left" alt="icono valor">
</div>

<div class="col text-justify">
<h2 class="tituloValores">{{ content.field_valor_titulo.0 }}</h2>
<p class="contenidoValores">{{ content.body.0 }}</p>
</div>
</div>
</div>

