<div class="seccion_equipo_container">

    <div class="card equipo_content_card ">
        <img class="card-img-top imgCardEquipo" src={{ content.field_equipo_imagen.0 }} alt="Card image cap">
        <div class="card-body text-justify equipo_body">
            <h2 class="card-title equipo_title">{{ content.field_equipo_titulo.0 }}</h2>
            <p class="card-text">{{ content.field_equipo_descripcion.0 }}</p>
        </div>
    </div>
</div>